.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: rgba(0, 221, 255, 0.459);
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 0px 0px;
  }
  
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
  .ct-series-a .ct-point {
    /* Colour of your points */
    stroke: rgba(0, 85, 255, 0.858);
    /* Size of your points */
    stroke-width: 15px;
    /* Make your points appear as squares */
    stroke-linecap: round;
  }